<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--desde * * * ** * ** * ** *  aqui-->
    <meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
    <meta name="viewport" content="width=device-width, initial-scale=1", charset=utf-8>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fantasy World Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
  Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,0); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- gallery -->
    <link rel="stylesheet" th:href="@{css/lightGallery.css}" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
<img height="46" width="1519" th:src="@{/images/header.png}"/>
<body>
<br><br><br>
<!-- header --><br>
<br>
<br>
<br>
<br>
<br>

<h1 align="center">Resultados pruebas</h1>
<br>
<br>

<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #cf8430;
  border-style: solid;
  color: #000000;
}

 td, th {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  padding: 3px;
}


thead {
  background-color: #000;
}
</style>
<table id = "demo" border="1">
            <thead >
            <tr>
                <th><font color="#cf8430">nombre mision</font></th>
                <th><font color="#cf8430">Descripcion mision</font></th>
                <th><font color="#cf8430">Mecanica</font></th>
                <th><font color="#cf8430">Pregunta</font></th>
                <th><font color="#cf8430">Descripcion pregunta</font></th>
                <th><font color="#cf8430">respuesta</font></th>
                <th><font color="#cf8430">Nombre</font></th>
                <th><font color="#cf8430">Apellido</font></th>
                <th><font color="#cf8430">Sexo</font></th>



            </tr>
            </thead>
            <tbody>
            <tr data-th-each="fila : ${tabla}">
                <td data-th-text="${fila.nm}"></td>
                <td data-th-text="${fila.dm}"></td>
                <td data-th-text="${fila.mec}"></td>
                <td data-th-text="${fila.pre}"></td>
                <td data-th-text="${fila.des}"></td>
                <td data-th-text="${fila.resp}"}></td>
                <td data-th-text="${fila.na}"></td>
                <td data-th-text="${fila.last}"></td>
                <td data-th-text="${fila.sex}"></td>

            </tr>
            </tbody>
        </table>
<br><br><br><br><br><br><br><br><br>


<h1 align="center">Manual de psicólogo </h1><br>
<div align="center">
<h4>Controles de juego</h4>

<img th:src="@{/images/controles1.png}"/>

<h4>Iniciar sesión </h4><br>
<p>Al abrir el juego aparecerá la pantalla de inicio de <br>
    sesion donde se debe ingresar con el usuario y la clave provisionadas por el equipo de PACTODEHONORPG. </p>

    <br>
<img th:src="@{/images/iniciarSecion.png}"/>
<h4>Crear misiones</h4><br>
<p>Al iniciar sesión aparecerá en el mapa del Politécnico Grancolombiano, <br>
    Para crear una misión debe oprimir el botón C del teclado. </p>

    <br>
<img th:src="@{/images/crear3.png}"/>
    <br>
<p>Aparecerá el siguiente menú, en el recuadro opciones de misión, debe hacer click sobre nueva.</p>


    <br>
<img th:src="@{/images/crear4.png}"/>
    <br>
<h4>Asset</h4><br>
<p>Para crear las preguntas asociadas a una misión, primero debe escoger a que entidad irán relacionadas las preguntas,
    <br> es decir quien preguntara, pueden ser objetos y personajes o enemigos:</p>
<ul>
    <li>1.	Debe seleccionar el tipo de entidad al que ira asociada la pregunta, sea enemigo objeto o NPC(Personaje). </li>
    <li>2.	Tras escoger el tipo de entidad, puede escoger entre una amplia lista de selección. </li>
    <li>3.	Debe escoger en qué lugar del mapa lo colocara y debe crearlo.</li>
</ul>

    <br>
<img th:src="@{/images/crear5.png}"/>
    <br>

<p>A continuación, un ejemplo con NPC.</p>

    <br>
<img th:src="@{/images/crear6.png}"/>
    <br>
<h4> Preguntas</h4><br>
<p>Tras hacer click sobre crear, parecerá el siguiente menú:</p>
<ul>
    <li>1.	Debe crear la pregunta, la descripción de la pregunta y la cantidad de respuestas asociadas a esta pregunta. </li>
    <li>2.	Debe crear las respuestas una a la vez, seleccionando la recompensa y la imagen en este caso que corresponde a la respuesta. </li>
    <li>3.	Solo hasta crear todas las respuestas podrá guardar la pregunta.  </li>
</ul>
    <br>
<img th:src="@{/images/pregunta.png}"/>
    <br>
<p>Al completar la información requerida se desbloqueará el botón Guardar pregunta. </p>
    <br>

<img th:src="@{/images/pregunta1.png}"/>
    <br>
    Posteriormente se debe crear el npc disparador de la misión.
</p>
    <br>
<img th:src="@{/images/pregunta2.png}"/>

    <br>
<p>Se escoge un lugar en el mapa y la misión estará creada</p>

    <br>
<img th:src="@{/images/pregunta3.png}"/>
</div>
<br><br><br>
<form th:action="@{/landing}" method="get">
    <button class="btn btn-md btn-danger btn-block"
            type="Submit">Regresar al menu
    </button>
</form>
<br><br><br><br>
<script th:src="@{\tablefilter\tablefilter.js}"></script>
<script >
	var filtersConfig = {
		base_path: 'tablefilter/',
		alternate_rows: false,
		rows_counter: false,
				   	//btn_css_class: "btn1",
				   	btn_reset: false,
				   	btn: false,
				   	loader: false,
				   	status_bar: false,
				   	mark_active_columns: true,
				   	highlight_keywords: true,
				   	col_0: "select",
				   	col_1: "select",
				   	col_2: "none",
				   	col_3: "none",
				   	col_4: "none",
				   	col_5: "none",
				   	col_6: "input",
				   	col_7: "input",
				   	col_8: "none",

				   	col_types: [
				   	'number', 'string', 'number',
				   	'date', 'number','string'
				   	]
				   };

				   var tf = new TableFilter('demo', filtersConfig);
				   tf.init();
				</script>
</body>
</html>